.communityQuesDiv {
  height: 25%;
  width: 100%;
  align-self: flex-end;
}

.quesFeedback {
  width: 100%;
}

.boxRow {
  display: flex;
  align-content: center;
}

.boxRow > p {
  flex:1 1 auto;
  border:1px red solid;
  text-align:center;

  margin:5px;  /* and that, will result in a 10px gap */
}