.popQuiz {
  position: absolute;
  z-index: 2;
  margin: 0 5vw 0 5vw;
  width: 90vw;
  top: 75px;
  height: calc(90vh - 75px);
  background-color: white;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(78,76,135,0.8);
  -moz-box-shadow: 0px 10px 30px 0px rgba(78,76,135,0.8);
  box-shadow: 0px 10px 30px 0px rgba(78,76,135,0.8);
}
@media only screen and (max-width: 650px) {
  .popQuiz {
    top: 60px;
    height: calc(90vh - 60px);
  }
}

.x {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.tutorial {
  text-align: justify;
  width: 85%; 
  margin: auto;
}

.subjects>* {
  cursor: pointer;
  color: rgb(101, 101, 101);
  font-weight: 600;
  flex: 1 250px 150px;
  margin: 0.3em 0.5em;
  padding: 0.5em 0;
  border-radius: 20px;
  border: 0.125em solid rgb(218, 233, 253);
  background-color: rgb(230, 241, 255);
  -webkit-box-shadow:  1px 2px 6px 0px rgba(97, 97, 97, 0.5);
  -moz-box-shadow: 1px 2px 6px 0px rgba(97, 97, 97, 0.5);
  box-shadow: 1px 2px 6px 0px rgba(97, 97, 97, 0.5);
}
.subjects>*:hover {
  -webkit-box-shadow:  2px 2px 6px 0px rgb(124, 168, 250);
  -moz-box-shadow: 2px 2px 5px 0px rgb(124, 168, 250);
  box-shadow: 0px 0px 5px 0px rgb(124, 168, 250);
  transition: all 0.5s ease;
}

.selected {
  border: 2px solid blue;
}

.startQuizButton {
  width: 50%;
  font-size: 1.25em;
  line-height: 1.25em;
  margin: 0.3em;
  padding: 0.3em;
  color: white;
  font-weight: 600;

  border-radius: 5px;
  border: 0.125em solid rgb(119, 149, 189);
  background-color: rgb(134, 177, 233);

  -webkit-box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.25);
}
.startQuizButton:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.5);
}

.countDown {
  display: absolute;
  margin: auto;
  font-size: 200px;
  font-weight: 800;
  text-align: center;
}

/* QUESTIONS */

.quizHeader {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 20px 2em;
  height: 80px;

  border: 2px solid rgba(185, 185, 185, 0.7);
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.25);
  
}
.quizProgress, .timeScore {
  background-color: rgb(235, 235, 235);
  width: 22%;
}
.quizProgress {
  color: rgb(64, 64, 64);
  font-weight: 800;
  font-size: 1.4vw;
  line-height: 80px;
}
@media only screen and (max-width: 700px) {
  .quizProgress {
    font-size: 2.2vw;
    line-height: 1.2em;
    padding: 30px 0;
  }
}
.quizQuestion {
  background: linear-gradient(0deg, rgba(255,255,255,1) 75%, rgba(241,241,241,1) 100%);
}
.timeScore {
  line-height: 40px;
}
.timeScore > hr {
  margin: 0 10%;
}
.time {
  color: rgb(117, 117, 117);
  font-weight: 500;
}
.score {
  font-weight: 800;
}

.ques {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 70%;
  margin: 20px;
}

.qbox {
  margin: 15px;
  color: rgb(83, 100, 157);
  background: rgb(240, 240, 240);
  border: 2px solid rgba(185, 185, 185, 0.7);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 10px;
  -webkit-box-shadow: 1px 2px 4px 0px rgba(78,76,135,0.2);
  -moz-box-shadow: 1px 2px 4px 0px rgba(78,76,135,0.2);
  box-shadow: 1px 2px 4px 0px rgba(78,76,135,0.2);
}
.sending {
  border: 5px solid rgb(147, 186, 227);
  -webkit-box-shadow: inset 0px 0px 50px 0px rgba(146,186,227,0.75);
  -moz-box-shadow: inset 0px 0px 50px 0px rgba(146,186,227,0.75);
  box-shadow: inset 0px 0px 50px 0px rgba(146,186,227,0.75);

}
.correct {
  animation-name: correct;
  animation-duration: 0.5s;
}
.not {
  animation-name: not;
  animation-duration: 0.5s;
}

@keyframes correct {
  from {
    background-color: rgb(240, 240, 240);
  }
  to {
    background-color: green;
  }
}
@keyframes not {
  from {
    background-color: rgb(240, 240, 240);
  }
  to {
    background-color: red;
  }
}

/* FINAL PAGE */

.fin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.finalScore {
  border: 2px solid rgba(185, 185, 185, 0.7);
  border-radius: 1em;
  background-color: rgb(243, 243, 243);
  width: 15em;
  padding: 0.7em;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(146,186,227,0.75);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(146,186,227,0.75);
  box-shadow: inset 0px 0px 10px 0px rgba(146,186,227,0.75);
}

.bigScore {
  margin: 0 auto;
  font-weight: 800;
  font-size: 4em;
  letter-spacing: 0.1em;
}

.todaysRank {
  font-weight: 600;
  font-size: 1.5em;
  display: inline;
  margin: 0.5em;
}

.loginOrRegisterContainer {
  margin: 1em;
}
.loginOrRegister {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.loginOrRegister > div {
  margin: 0 10px;
}

.highScoreResult {
  font-weight: 500;
}

.newTotalScore {
  font-weight: 500;
}
