@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', 'Helvetica Neue', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(240, 240, 240);
}

body {
  height: 100%;
  background: linear-gradient(0deg, rgb(210, 210, 208) 49.5%,rgb(169, 181, 193) 0.5%, rgb(146, 192, 240) 50%) no-repeat;
  background-color: rgb(210, 210, 208);
}

